.createCard{
    display: flex;
    flex-direction: column;
    justify-self: center;
}


form{

    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

}

form > label{
display: flex;
flex-direction: column;
margin: 0.5rem;
}


.saveCardBtn{
    width: 50%;
    align-self: center;
    margin: 1rem;
}

.picture {
    width: 50vw;
}