.navBar{
border-top: 1px solid  #E5CFF7;
position: fixed;
width: 100vw;
height: 10vh;
bottom: 0;
display: flex;
align-items: center;
justify-content: space-around;
box-sizing: border-box;
z-index: 5;

}

.navBar > button {
width: 50vw;
height: 100%;
background-color:#5B0888;
color:  #E5CFF7;
font-size: 1.25rem;
font-weight: bolder;
border: none;
}
.navBar > button:first-child{
    border-right: 1px solid #5B0888;
}
.navBar > button:active {
    opacity: 0.5;
} 