.btn {

    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
    border-radius: 8px;
    border: 1px solid black;
    width: 90%;
    font-size: 1rem;
    color: #f7f7f7;
    background-color:  #5B0888;
    border: none;
    box-shadow: 0px 4px 16px 0px rgba(0,0,0,0.25);
}