.viewCardPage{
background-color: #f7f7f7;
width: 100vw;
position: fixed;
z-index: 1;
display: flex;
align-items: center;
justify-content: start;
flex-direction: column;
position: relative;
z-index: 99;
}


.displaySection{
overflow: hidden;
width: 100%;
position: relative;
display: flex;
align-items: center;
flex-direction: column;
justify-content: start;
padding: 2rem;
box-sizing: border-box;
}
.displaySectionHeader{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.displaySectionHeader > button {
    background-color: transparent;
    border: none;
}
.displaySectionHeader > button > img{
   width: 1.5rem;
   aspect-ratio: 1;
   filter: invert();
   object-fit: cover;
}
.profilePicture{
    z-index: 3;
    position: relative;
    object-fit: cover;
    border-radius: 9999px;
    width: 75%;
    aspect-ratio: 1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.1);
}
.displaySection > h3{
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    max-width: 100%;
    opacity: 0.9;
    text-align: center;
}
.displaySection > h1 {
    margin: 1rem;
    font-size: 2rem;
    font-weight: 600;
}
.displaySection > p {
    text-align: center;
    opacity: 0.9;
    margin-top: 0;
}



.contactSection{
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.contactDataField {
    width: 100%;
}
.contactDataField > p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
.contactDataField > a{
border: 2px solid black;
border-radius: 8px;
width: 100%;
display: flex;
align-items: center;
padding: 0.5rem;
padding-left: 1rem;
box-sizing: border-box;
font-weight: 600;
margin-bottom: 1rem;
text-decoration: none;
color: rgba(0,0,0,0.8);
}
.contactDataField > a > img{
 height: 2rem;
 aspect-ratio: 1;
 margin-right: 1rem;
}


.otherPlatformsSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.otherPlatformsSection > h1 {
    font-size: 1.25rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.8);
}
.otherPlatformsSection > a {
width: 20%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-decoration: none;
color: rgba(0,0,0,0.8);
margin-bottom: 1rem;
font-weight: 600;
}
.otherPlatformsSection > a > img {
    width: 100%;
    aspect-ratio: 1;
    margin-bottom: 1rem;
}