.miniCard{
    background-color: #5B0888;
    color: #E5CFF7 ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0vw;
    width: 42.5vw;
    aspect-ratio: 10/14;
    border-radius:8px;
    font-family: sans-serif;
    padding: 1rem;
    box-sizing: border-box;
}
.miniCard > button{
    margin: 0rem;
}