.miniCard{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
    width: 50%;
}
.miniCard > button{
    margin: 1rem;
}